.trailer-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.950);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.trailer .video{
    all: unset;
    width: 800px; 
    height: 600px;
    border-radius: 10px;
    box-shadow: 2px 5px 29px 9px gray;
  }