<div class="d-flex">


<app-random-moive-btn *ngIf="buttonDisplay" (click)="randomMovieGenerator()"></app-random-moive-btn>
<!-- 
  <div class="loading-container" *ngIf="loadingMovie">
    <p-progressSpinner></p-progressSpinner>
  </div> -->
</div>

<!-- <ng-container *ngIf="cardDisplay">  -->

  <div *ngIf="randomMovie$ | async as data" class="movie-card">
    
  <span class="close-icon">
    ❌
  </span>
    <div class="card-header">
      <h1>{{data.original_title}}</h1>
      <div class="img-container">
        <img alt="Movie Poster" [src]="'https://image.tmdb.org/t/p/w300' + data.poster_path" />
      </div>
      <div class="overview">{{ data.overview }}</div>
    </div>
    <div class="card-footer">
      <button class="second-generator-button" (click)="randomMovieGenerator()">Again▶️</button>
      <button class="trailer-button" (click)="watchTrailer()">Watch trailer▶️</button>
      
      <div class="imdb-rating">IMDB: {{ data.vote_average | number:'1.1-1' }}</div>
    </div>
  </div>

<!-- </ng-container> -->

  <app-trailer  *appTrailer="moiveTrailer" [trailerUrl]="moiveTrailer"></app-trailer>

<!-- სკელეტონი გავიტანო კომპონენტად -->
<ng-container *ngIf="loadingMovie">
  <div class="movie-card skeleton">
   
    <div class="card-header">
      <h1 class="skeleton">
        <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
      </h1>
      <div class="img-container">
        <p-skeleton width="100%" height="250px"></p-skeleton>
      </div>
      <div class="overview skeleton">
        <p-skeleton width="100%" height="100px"></p-skeleton>
      </div>
    </div>
    <div class="card-footer">
      <p-skeleton width="4rem" height="2rem"></p-skeleton>
      <p-skeleton width="4rem" height="2rem"></p-skeleton>
      <p-skeleton width="4rem" height="2rem"></p-skeleton>
    </div>
  </div>
</ng-container>
