
  
.poster {
    position: relative;
    display: inline-block;
}

.trailer-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 1;
    transition: opacity 1.3s ease-in-out 1s;
}

.poster:hover .trailer-button {
    opacity: 1;
}

  /* Movie details container */
  .data-detail {
    max-width: 800px;
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #000000, #625e5e); 
    color: #fff;
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
  }
  
  /* Poster image */
  .poster img {
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
  }
  
  /* Poster hover effect */
  .poster img:hover {
    transform: scale(1.05);
  }
  
  /* Details section */
  .details {
    margin-left: 20px;
    text-align: left;
  }
  
  /* Movie title */
  h1 {
    font-size: 32px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  /* Tagline */
  .tagline {
    font-style: italic;
    color: #888;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Movie information */
  .info p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .info strong {
    font-weight: bold;
  }
  
  .info span {
    margin-right: 8px;
  }
  
  /* Links */
  .info a {
    color: #007bff;
    text-decoration: none;
  }
  
  .info a:hover {
    text-decoration: underline;
  }
  
  /* IMDB */
  .vote_average {
    border-radius: 8px;
    padding: 5px;
    display: inline;
    background-color: #ffde5b;
    color: black;
  }
  .trailer-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  /* carousel */
.custom-carousel {
  border: 1px solid #ee0505;
  border-radius: 5px;
  padding: 20px;
}

.header-title {
  color: red;
  text-align: center;
}

/* .actor-photo {

} */

.actor-details {
  margin-top: 10px;
}

.actor-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.actor-character {
  color: red;
  margin-top: 5px;
}
