<ng-container *ngIf="data">
<div class="data-detail">
    <div class="poster">
        <button class="trailer-button" (click)="watchTrailer()">Watch trailer▶️</button>
        <img [src]="'https://image.tmdb.org/t/p/w500' + data.poster_path" alt="{{ data.title }}"  loading="lazy"/>
    </div>

    <div class="details">
      <h1>{{ data.title }}</h1>
      <p class="tagline">{{ data.tagline }}</p>
      <div class="info">
        <p><strong>Release Date:</strong> {{ data.release_date }}</p>
        <p><strong>Runtime:</strong> {{ data.runtime }} mins</p>
        <p><strong>Genres: </strong>
          <span *ngFor="let genre of data.genres">{{ genre.name }}</span>
        </p>
        <p><strong>Overview:</strong> {{ data.overview }}</p>
        <p><strong>Production Companies:</strong>
          <span *ngFor="let company of data.production_companies">{{ company.name }}</span>
        </p>
        <p><strong>Production Countries:</strong>
          <span *ngFor="let country of data.production_countries">{{ country.name }}</span>
        </p>
        <p><strong>Original Language:</strong> {{ data.original_language }}</p>
        <p class="vote_average"><strong>IMDB:</strong> {{ data.vote_average | number:'1.1-1'}}</p>
      </div>
    </div>
  </div>
</ng-container>
<app-trailer  *ngIf="moiveTrailer" [trailerUrl]="moiveTrailer"></app-trailer>
